/* static/src/css/gantt_style.css */
.gantt-view-container {
    position: relative;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    font-family: sans-serif;
}

.gantt_task_line {
    background-color: #4CAF50; /* Task bar background */
    color: white; /* Task text color */
    border-radius: 2px;
}

.gantt_task_content {
    font-size: 12px;
    font-weight: normal;
    padding: 0px 5px;
}

.gantt_grid_scale{
    font-size: 12px;
}


.gantt_task_progress_drag{
    background-color: #6778ba;
}
.gantt_task_progress{
    background-color: #8193db;
}
.gantt_drag_progress{
    background-color: #b3c1f5;
}

.error-message {
    color: red;
    font-weight: bold;
    margin-top: 10px;
}